@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');



.videoPlayerContainer {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    background-color: #adafb4c7;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    width: 60%;
    max-height: 80vh;
    padding: 3rem;
    background-color: white;
    border-radius: 2rem;

    overflow-y: auto;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.videoPlayer .close {
    width: auto;
    height: auto;

    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: transparent;
    color: rgba(116, 204, 28, 255);
    border: none;
    padding: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer .video {
    width: auto;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer .video video {
    width: 60%;
}

.videoPlayer .videoInfo {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.videoPlayer .videoInfo div {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.videoPlayer .videoInfo div:nth-of-type(1) {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.videoPlayer .videoInfo div:nth-of-type(2) {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #adafb4ed;
}

.videoPlayer .videoInfo div:nth-of-type(3) {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}

@media(min-width:320px) and (max-width:800px) {

    .videoPlayer {
        width: 90%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .videoPlayer .video {
        width: 100%;
    }

    .videoPlayer .videoInfo div:nth-of-type(1) {
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .videoPlayer .videoInfo div:nth-of-type(2) {
        font-size: 1rem;
    }

    .videoPlayer .videoInfo div:nth-of-type(3) {
        font-size: 1.5rem;
    }
}

@media(min-width:800px) and (max-width:1100px) {
    .videoPlayer {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .videoPlayer .video {
        width: 100%;
    }

    .videoPlayer .videoInfo div:nth-of-type(1) {
        font-size: 2.2rem;
    }

    .videoPlayer .videoInfo div:nth-of-type(2) {
        font-size: 1rem;
    }

    .videoPlayer .videoInfo div:nth-of-type(3) {
        font-size: 1.5rem;
    }
}