.navbarContainer{
    width: 100%;
    min-height: 6rem;
    /* background-color: pink; */
    border-bottom: 2px solid #b1b5bb73;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    /* position: fixed;
    top: 0;
    z-index: 0; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarContainer .leftPart{
    width: auto;
    height: auto;
    /* background-color: antiquewhite; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
}

.navbarContainer .leftPart .sideDrawer{
    font-size: 2.4rem;
}

.navbarContainer .leftPart .title{
    font-size: 2.4rem;
}

.navbarContainer .middlePart{
    width: 40%;
    height: auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContainer .middlePart input{
    width: 100%;
    height: 3.2rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
}

.navbarContainer .middlePart input:focus{
    outline: none;
}

.navbarContainer .middlePart .searchIcon{
    font-size: 1.7rem;

    position: absolute;
    right: 1.2rem;
}

.navbarContainer .rightPart{
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.navbarContainer .rightPart .videoIcon{
    font-size: 2.3rem;
    color: rgba(116,204,28,255);
}

.navbarContainer .rightPart .userPic{
    width: auto;
    height: auto;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContainer .rightPart .userPic img{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    object-fit: cover;
}



